        {% set dev_tp = dev_status.get('training_progress') or dev_status.get('training') or {} %}
        {% set dev_voyage = dev_status.get("voyage", {}) %}
        {% set dev_current_island = dev_voyage.get("current_island", {}) %}
        {% set dev_next_island = dev_voyage.get("next_island") %}
        {% set dev_next_boss = dev_voyage.get("next_boss") %}
        {% set dev_learning_stage_label = dev_voyage.get("sea_label", "Early structured learning") %}
        {% set validation_audit = dev_status.get('validation_audit', {}) %}
        {% set dev_recently_validated = validation_audit.get('recently_validated', []) %}
        {% set dev_recent_log = dev_voyage.get('recent_log', []) %}
        {% set dev_governed_recent = dev_status.get('governed_recent_activity', []) %}
        {% set limits_by_provider = dev_status.get('limits_by_provider', {}) %}
        {% set cursor_limits = limits_by_provider.get('cursor') %}
        {% set codex_limits = limits_by_provider.get('codex') %}
        {% set dev_push = dev_status.get('pushover', {}) %}
        {% set dev_intelligence = dev_status.get('intelligence_status', {}) %}
        {% set dev_push_tone = 'good' if dev_push.get('enabled') and dev_push.get('configured') else ('neutral' if not dev_push.get('enabled') else 'warn') %}
        {% set dev_api_events = dev_status.get('learning_engine', {}).get('api_permission_events', []) %}
        {% set dev_has_attention = (
            dev_status['issues']['miru_ai']['tone'] == 'warn'
            or dev_status['issues']['project_miru']['tone'] == 'warn'
            or dev_push_tone == 'warn'
            or (dev_api_events and dev_api_events|length > 0)
            or (cursor_limits and ((cursor_limits.get('remaining_percent') or 100) < 20))
            or (codex_limits and ((codex_limits.get('remaining_percent') or 100) < 20))
        ) %}

        {% set dev_env = dev_status.get('dev_environment', {}) %}
